
$accent: #3079F5FF;
$shadow: #2b6adc;

$--calc-bg-color: #0e1231;
$--calc-w: 501px;
$--calc-h: 852px;

$--calc-btn-bg-color: #25282DFF;
$--calc-btn-bg-color-active: #1e1e1e;
$--calc-btn-bg-color-hover: #1b1c20;

$white: #fff;
$dark-white: rgba(255, 255, 255, 0.09);
$dark: #000000;

$--display: #0f1648;
$--display-counting: $--calc-bg-color;
$--display-size: 50px;
$--display-counting-size: 25px;

